{% extends "homepage/base.html" %}
{% block title %}{{ Home }}{% endblock %}

{% block content %}
    
    <div class="center">
        <button href="#" class = "button">AP Computer Science A</button>
    
        <button href="#" class = "button">AP Biology</button>
        <button href="#" class = "button">AP Research</button>
        
        <button href="#" class = "button">AP Seminar</button>
        <button href="#" class = "button">AP English Lang</button>
        <button href="#" class = "button">AP English Lit</button>
        <button href="#" class = "button">AP Government</button>
        <br><br>
        <button href="#" class = "button">AP European History</button>
        <button href="#" class = "button">AP Human Geography</button>
        <button href="#" class = "button">AP Macroeconomics</button>
        <button href="#" class = "button">AP Microeconomics</button>
        <button href="#" class = "button">AP US History</button>
        <button href="#" class = "button">AP Calculus AB</button>
        <br><br>
        <button href="#" class = "button">AP Calculus BC</button>
        <button href="#" class = "button">AP Chemistry</button>
        <button href="#" class = "button">AP Environmental Science</button>
        <button href="#" class = "button">AP Physics C</button>
        <p>Note: Upvote the study guides you find helpful. Users with the most upvotes from their uploaded study guides will be displayed on a leaderboard and contacted by sponsors for potential prizes.</p>
        <script src="script.js"></script>
    </div>
{% endblock %}