{% extends "homepage/base.html" %}
{% block title %}AP Biology{% endblock %}
{% block content %}
  <h1>Scholar Sync</h1>
  <p>Note: Upvote the study guides you find helpful. Users with the most upvotes from their uploaded study guides will be displayed on a leaderboard and contacted by sponsors for potential prizes.</p>
  <div>
    <a href="bioUnit1.html" class = "logo">
      <button>Unit 1</button>
    </a>
    <br><br>
    <a href="bioUnit1.html" class = "logo">
      <button>Unit 2</button>
    </a>
  </div>


  <script src="script.js"></script>
{% endblock %}

