<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Scholar Sync</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>Scholar Sync</h1>
  <p>Note: Upvote the study guides you find helpful. Users with the most upvotes from their uploaded study guides will be displayed on a leaderboard and contacted by sponsors for potential prizes.</p>
  <div>
    <p>uploads</p>
  </div>


  <script src="script.js"></script>
</body>

</html>